@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?f9iydz');
	src:url('../fonts/icomoon.eot?#iefixf9iydz') format('embedded-opentype'),
		url('../fonts/icomoon.woff?f9iydz') format('woff'),
		url('../fonts/icomoon.ttf?f9iydz') format('truetype'),
		url('../fonts/icomoon.svg?f9iydz#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Harlow Solid Italic';
	src:url('../fonts/harlow.eot');
	src:url('../fonts/harlow.eot') format('embedded-opentype'),
		url('../fonts/harlow.woff') format('woff'),
		url('../fonts/harlow.ttf') format('truetype'),
		url('../fonts/harlow.svg') format('svg');
}

a{
	text-decoration: none;
}

body{
	background: #EFEFEF;
	color: #4c4c4c;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 16px;
	margin: 0;
}

h2{

	font-size: 1.2em;
}

header{
	background-color: rgba(17,194,184,1);
	float: relative;
	text-align: center;
	padding: 0.2em;
}

header a figure, header h1{
	display: inline-block;
	/*vertical-align: center;*/
}

header h1{
	color: white;
	font-family: Harlow Solid Italic, Georgia, serif;
	font-size: 2em;
	font-weight: normal;
	margin: 0;
}

header #atras{
	color: white;
	position: absolute;
	font-size: 1.5em;
	left: 0.5em;
	text-decoration: none;
	top: 0.4em;
}

header #atras:after{
	content: "\e601";
	font-family: "icomoon";
}

nav{
	background: #F5F5F5;
	font-size: 0.9em;
}

nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

nav ul li{
	display: inline-block;
	margin: 0 .5em 0 0;
	vertical-align: top;
}

nav ul li a{
	color: rgba(27,154,247,1);
	display: block;
	font-size: 1.6em;
	padding: 0.5em 0.55em;
	text-decoration: none;
}

nav ul li #carro:after{
	content: "\e604";
	font-family: 'icomoon';
}

nav ul li #cb:after{
	content: "\e600";
	font-family: 'icomoon';
}

nav ul li #e:after{
	content: "\e602";
	font-family: 'icomoon';
}

nav ul li #fav:after{
	content: "\e606";
	font-family: 'icomoon';
}

nav ul li #md:after{
	content: "\e605";
	font-family: 'icomoon';
}

footer{
	text-align: center;
}

footer h3{
	border-bottom: 1px solid #EFEFEF;
	font-size: 1.2em;
	/*font-weight: normal;*/
	margin: 0.2em 0 0.5em 0;
}

footer figure{
	display: inline-block;
}

footer #diilabs{
	margin: 0;
}

footer #udec{
	margin:  0 2em 0 0;
}

/*Antes las imagenes eran height 80px*/
footer #diilabs img{
	height: 70px;
}

footer #udec img{
	height: 70px;
}

section article, footer{
	background: white;
	margin: 0.3em auto;
	max-width: 689px;
	padding: 0.4em;
	width: 95%;
}

section .subtitulo{
	background: white;
	display: block;
	margin: auto;
	margin-top: 0.2em;
	max-width: 689px;
	padding: 0.3em;
	text-align: center;
	width: 95%;
}

/*=====Codigo de barra======*/

#codbarra figure{
	margin-top: 15%;
}

#codbarra figure a img{
	width: 100%;
}

/*===Datos===*/

#datos article{
	text-align: center;
}

#datos h2 span{
	font-family: Harlow Solid Italic, Georgia, serif;
	font-size: 1.2em;
	font-weight: normal;
}

/*=====Favoritos======*/

#favoritos{
	text-align: center;
}

#favoritos article form p{
	margin: 0.3em 0 0 0;
}


/*====Feed Nutricionista====*/

#feednutri article{
	max-width: 689px;
	min-height: 8em;
	position: relative;
	text-align: center;
}

#feednutri article div{
	padding: 0 0.5em;
	font-size: 0.9em;
	text-align: left;
	width: 65%;
}

#feednutri article div,
#feednutri article figure
{
	display: inline-block;
	vertical-align: top;
}

#feednutri article figure{
	margin: 0;
}

#feednutri article figure a img{
	width: 70px;
	float: left;
}

#feednutri article h3, 
#feednutri article h4{
	font-size: 0.9rem;
	margin: 0;
}

#feednutri article p{
	margin: 0;
}

#feednutri article #iconos{
	background: #22BCE0;
	border-radius: 0.1em;
	left: -41px;
	margin: 0 0 0 17.5%;
	padding: 0;
	position: absolute;
	top: 4.8em;
	width: 70px;
}

#feednutri article #iconos a{
	color: white;
	font-size: 1.1em;
}

#feednutri article #iconos a:after{
	content: "\e603";
	font-family: "icomoon";
}

/*======Lista Compras=====*/
#lista_compras{
	text-align: center;
}


#lista_compras article ol{
	display: inline-block;
	margin: 0;
}

#lista_compras article ol li{
	margin: 0.3em 0 0 0;
	text-align: left;
}

#lista_compras article p{
	font-size: 1em;
	font-weight: bold;
	margin: 1em 0 0 0;
}

/*====Perfil nutricionista====*/

#perfil_nutricionista .desc_nutri{
	text-align: center;
}

#perfil_nutricionista .desc_nutri ul{
	display: inline-block;
	list-style: none;
	margin: auto;
	padding: 0;
	text-align: left;
}

#perfil_nutricionista .desc_nutri ul li h4,
#perfil_nutricionista .desc_nutri ul li p{
	display: inline-block;
	margin: 0.4em;
}

#perfil_nutricionista .perfil_nutri{
	text-align: center;
}

#perfil_nutricionista .perfil_nutri figure{
	margin: 1em 0 0 0;
}

#perfil_nutricionista .perfil_nutri figure img{
	width: 100px;
}

#perfil_nutricionista .perfil_nutri h2,
#perfil_nutricionista .perfil_nutri h3{
	margin: 0;
}

#perfil_nutricionista .perfil_nutri h3{
	font-size: 0.9em;
	margin-bottom: 0.2em;
}

/*=======Perfiles nutricionistas======*/

#perfiles_nutricionistas .perfil_nutri{
	min-height: 70px;
	text-align: left;
}

#perfiles_nutricionistas .perfil_nutri h3{
	font-size: 1em;
}

#perfiles_nutricionistas .perfil_nutri h4{
	font-size: 0.9em;
}

#perfiles_nutricionistas .perfil_nutri h3,
#perfiles_nutricionistas .perfil_nutri h4{
	margin: 0;
}

#perfiles_nutricionistas .perfil_nutri figure{
	float: left;
	margin: 0 0.8em 0 0;
}

#perfiles_nutricionistas .perfil_nutri figure a{
	display: inline-block;
}

#perfiles_nutricionistas .perfil_nutri figure a img{
	height: 70px;
	background: blue;
}

/*========Producto=======*/

#producto article{
	text-align: center;
}

#producto article figure{
	position: relative;
}

#producto article figure figcaption a{
	background: #c4c4c4;
	border-radius: 0.5em;
	color: white;
	display: inline-block;
	font-size: 1.2em;
	left: 80px;
	padding: 0.1em 0.2em;
	position: absolute;
	top: 170px;
	text-decoration: none;
}

#producto article figure figcaption a:visited{
	background: #FEC501;
}

#producto article figure figcaption a:hover{
	background: #FEC501;
}


#producto article a:after{
	content: "\e606";
	font-family: "icomoon";
}

#producto article #producto_item{
	display: inline-block;
	margin: 0px;
}

#producto article #producto_item img{
	height: 200px;
}

.boton{
	background: #22BCE0;
	border-radius: 0.2em;
	color: white;
	display: inline-block;
	margin: 0.5em 0;
	padding: 0.5em 1em;
	text-decoration: none;
}

